
<div class="flex flex-wrap text-4xl lg:text-lg">
  <div class="sticky top-0 bg-gray-300 card lg:static">
    <div class="py-2">
      <%= @total_tasks %> tasks (<%= @tasks.length %> shown)
    </div>

    <div class="flex-grow py-2">
      <% if @filters %>
        Filters:

        <% @filters.each do |filter| %>
          <% if filter.start_with?('+') %>
            <span class="text-green-700 bg-green-100 tag-pill">
              <%= filter %>
            </span>
          <% elsif filter.start_with?('@') %>
            <span class="text-blue-700 bg-blue-100 tag-pill">
              <%= filter %>
            </span>
          <% end %>
        <% end %>

        <span class="text-3xl lg:text-sm">
          <% if @filters.empty? %>
            (None)
          <% else %>
            <%= link_to 'Clear', root_url, class: 'text-blue-800 hover:opacity-50' %>
          <% end %>
        </span>
      <% end %>
    </div>

    <div class="flex justify-between">
      <%# TODO Improve styling of these icons %>
      <%# Empty element so button gets flexed to right, and in consistent way to %>
      <%# buttons on other cards. %>
      <span></span>

      <%= render 'shared/icon_button', class: 'js-scroll-to-top lg:hidden' do %>
        <%= render 'icons/arrow_thick_up_circle',
          background_class: "text-gray-500",
          foreground_class: "text-gray-600"
        %>
      <% end %>

      <%= render 'shared/icon_button', class: 'js-scroll-to-bottom lg:hidden' do %>
        <%= render 'icons/arrow_thick_down_circle',
          background_class: "text-gray-500",
          foreground_class: "text-gray-600"
        %>
      <% end %>

      <%= render 'shared/icon_button',
        path: :new_path,
        method: 'get',
        params: {filters: @filters} do %>
        <%= render 'icons/add_square',
          background_class: "text-green-300",
          foreground_class: "text-green-600"
        %>
      <% end %>
    </div>
  </div>

  <% @tasks.each do |task| %>
    <div class="card justify-between border-4 lg:border-2 <%= task.border_color_class %> <%= task.background_class %>">
      <div class="flex-grow">
        <div class="float-right px-1 py-2 text-gray-600">
          <% task.tags.each do |tag, value| %>
            <span class="px-1">
              <%= tag %>:<%= value %>
            </span>
          <% end %>
          <span class="font-semibold <%= task.priority_text_class %>">
            <%= task.priority %>
          </span>
        </div>

        <div class="px-2 py-2">
          <p class="text-gray-900">
            <%= auto_link(task.text) %>
          </p>
        </div>

        <div class="px-2">
          <% task.projects.each do |project| %>
            <%= link_to project,
              root_url(filters: (@filters + [project]).uniq),
              class: 'tag-pill text-green-700 bg-green-100'
            %>
          <% end %>

          <% task.contexts.each do |context| %>
            <%= link_to context,
              root_url(filters: (@filters + [context]).uniq),
              class: 'tag-pill text-blue-700 bg-blue-100'
            %>
          <% end %>
        </div>
      </div>

      <div class="px-2 py-1 text-gray-600">
        <%= task.created_on %>
      </div>

      <div class="flex justify-between">
        <% if task.today? %>
          <%= render 'shared/icon_button',
            path: :unschedule_tasks_path,
            task: task,
            data: {'turbolinks-scroll': true} do
          %>
            <%= render 'icons/calendar_remove',
              background_class: "text-gray-500",
              foreground_class: "text-gray-600"
            %>
          <% end %>
        <% else %>
          <%= render 'shared/icon_button',
            path: :schedule_tasks_path,
            task: task,
            data: {'turbolinks-scroll': true} do
          %>
            <%= render 'icons/calendar_add',
              background_class: "text-gray-500",
              foreground_class: "text-gray-600"
            %>
          <% end %>
        <% end %>

        <%= render 'shared/icon_button',
          path: :tasks_path,
          task: task,
          method: :delete,
          confirm: 'Are you sure you want to delete this task?',
          data: {'turbolinks-scroll': true} do
        %>
          <%= render 'icons/trash',
            top_class: "text-gray-600",
            bottom_class: "text-gray-500"
          %>
        <% end %>

        <%= render 'shared/icon_button',
          path: :edit_path,
          task: task,
          method: :get,
          params: {filters: @filters} do
        %>
          <%= render 'icons/edit',
            top_class: "text-gray-500",
            bottom_class: "text-gray-600"
          %>
        <% end %>

        <%= render 'shared/icon_button',
          path: :complete_tasks_path,
          task: task,
          data: {'turbolinks-scroll': true} do
        %>
          <%= render 'icons/check',
            background_class: "hidden",
            foreground_class: "text-green-600"
          %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
