
<div class="flex flex-wrap text-4xl lg:text-lg">
  <div class="card bg-gray-300 sticky top-0 lg:static">
    <div class="py-2">
      <%= @total_tasks %> tasks (<%= @tasks.length %> shown)
    </div>

    <div class="py-2 flex-grow">
      <% if @filters %>
        Filters:

        <% @filters.each do |filter| %>
          <% if filter.start_with?('+') %>
            <span class="tag-pill text-green-700 bg-green-100">
              <%= filter %>
            </span>
          <% elsif filter.start_with?('@') %>
            <span class="tag-pill text-blue-700 bg-blue-100">
              <%= filter %>
            </span>
          <% end %>
        <% end %>

        <span class="text-3xl lg:text-sm">
          <% if @filters.empty? %>
            (None)
          <% else %>
            <%= link_to 'Clear', root_url, class: 'text-blue-800 hover:opacity-50' %>
          <% end %>
        </span>
      <% end %>
    </div>

    <div class="flex justify-between">
      <%# Empty element so button gets flexed to right, and in consistent way to %>
      <%# buttons on other cards. %>
      <span></span>

      <%= render 'shared/icon_button', path: new_path, method: 'get' do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="fill-current text-green-300 h-12 w-12"
        >
          <rect width="18" height="18" x="3" y="3" rx="2"/>
          <path
            class="text-green-600"
            d="M13 11h4a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4z"
          />
        </svg>
      <% end %>
    </div>
  </div>

  <% @tasks.each do |task| %>
    <div class="card justify-between border-4 lg:border-2 <%= task.border_color_class %> <%= task.background_class %>">
      <div class="flex-grow">
        <div class="float-right px-1 py-2 text-gray-600">
          <% task.tags.each do |tag, value| %>
            <span class="px-1">
              <%= tag %>:<%= value %>
            </span>
          <% end %>
          <span class="font-semibold <%= task.priority_text_class %>">
            <%= task.priority %>
          </span>
        </div>

        <div class="px-2 py-2">
          <p class="text-gray-900">
            <%= auto_link(task.text) %>
          </p>
        </div>

        <div class="px-2">
          <% task.projects.each do |project| %>
            <%= link_to project,
              root_url(filters: (@filters + [project]).uniq),
              class: 'tag-pill text-green-700 bg-green-100'
            %>
          <% end %>

          <% task.contexts.each do |context| %>
            <%= link_to context,
              root_url(filters: (@filters + [context]).uniq),
              class: 'tag-pill text-blue-700 bg-blue-100'
            %>
          <% end %>
        </div>
      </div>

      <div class="px-2 py-1 text-gray-600">
        <%= task.created_on %>
      </div>

      <div class="flex justify-between">
        <%# XXX Sort out icon sizing inconsistencies in below %>
        <% if task.today? %>
          <%= render 'shared/icon_button',
            path: unschedule_tasks_path,
            task: task do
          %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="fill-current h-12 w-12"
            >
              <path
                class="text-gray-500"
                d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z"
              />
              <path
                class="text-gray-600"
                d="M7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1zm-2 13H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2z"
              />
            </svg>
          <% end %>
        <% else %>
          <%= render 'shared/icon_button',
            path: schedule_tasks_path,
            task: task do
          %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="fill-current h-12 w-12"
            >
              <path
                class="text-gray-500"
                d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z"
              />
              <path
                class="text-gray-600"
                d="M13 13h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2v-2a1 1 0 0 1 2 0v2zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z"
              />
            </svg>
          <% end %>
        <% end %>

        <%= render 'shared/icon_button',
          path: tasks_path,
          task: task,
          method: :delete,
          confirm: 'Are you sure you want to delete this task?' do
        %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-12 w-12">
            <path
              class="text-gray-500"
              d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"
            />
            <path
              class="text-gray-600"
              d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"
            />
          </svg>
        <% end %>

        <%= render 'shared/icon_button',
          path: edit_path,
          task: task,
          method: :get do
        %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-12 w-12"
          >
            <path
              class="text-gray-500"
              d="M4 14a1 1 0 0 1 .3-.7l11-11a1 1 0 0 1 1.4 0l3 3a1 1 0 0 1 0 1.4l-11 11a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-3z"
            />
            <rect
              width="20"
              height="2"
              x="2"
              y="20"
              class="text-gray-600"
              rx="1"
            />
          </svg>
        <% end %>

        <%= render 'shared/icon_button',
          path: complete_tasks_path,
          task: task do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current text-green-600 h-12 w-12"
            >
            <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"/>
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
