
<div class="flex flex-wrap">
  <% @todos.each do |todo| %>
    <div class="flex flex-col justify-between rounded overflow-hidden shadow-lg w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <div>
        <div class="float-right px-1 py-2 text-gray-600">
          <% todo.tags.each do |tag, value| %>
            <span class="px-1">
            <%= tag %>:<%= value %>
          </span>
        <% end %>
          <%= todo.priority %>
        </div>

        <div class="px-6 py-1">
          <p class="text-gray-900 text-base">
            <%= todo.text %>
          </p>
        </div>

        <div class="px-6 py-1">
          <% todo.projects.each do |project| %>
            <span class="inline-block bg-gray-200 rounded-full text-sm font-semibold text-green-700 mr-2">
            <%= project %>
          </span>
        <% end %>

          <% todo.contexts.each do |context| %>
            <span class="inline-block bg-gray-200 rounded-full text-sm font-semibold text-blue-700 mr-2">
            <%= context %>
          </span>
        <% end %>
        </div>
      </div>

      <div class="flex justify-between">
        <span class="px-6 py-1 text-gray-600 self-end">
          <%= todo.created_on %>
        </span>

        <%= button_to(
          complete_todos_path,
          {
            params: {todo: todo.raw.strip},
            class: 'rounded hover:opacity-50 focus:opacity-50 focus:shadow-outline',
            form_class: 'px-1'
          }
        ) do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current text-green-600 h-12 w-12"
            >
            <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"/>
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
