<!DOCTYPE html>
<html>
  <head>
    <title>Todo List &mdash; <%= @subtitle %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      // XXX Handle this somewhere other than inlined here, and in more
      // consistent style to other JS code - in `app/javascript/tasks.js`, use
      // `js-` prefixes etc.
      // From https://stackoverflow.com/a/51790464/2620402.
      const turbolinksPersistScroll = () => {
        const persistScrollDataAttribute = 'turbolinks-scroll'
        let scrollPosition = null
        let enabled = false

        document.addEventListener('turbolinks:before-visit', (event) => {
          if (enabled)
            scrollPosition = window.scrollY
          else
            scrollPosition = null
          enabled = false
        })

        document.addEventListener('turbolinks:load', (event) => {
          const elements = document.querySelectorAll(`[data-${persistScrollDataAttribute}="true"]`)
          for (let i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', () => {
              enabled = true
            })
          }

          if (scrollPosition)
            window.scrollTo(0, scrollPosition)
        })
      }

      turbolinksPersistScroll()
    </script>
  </head>

  <body class="bg-gray-200">
    <div
      id="js-initial-data"
      data-projects="<%= @projects.to_json %>"
      data-contexts="<%= @contexts.to_json %>"
    />

    <%= yield %>
  </body>
</html>
